

#particles-js {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 11111111111111111111;
	background-image: url("../img/bg/slide-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


